

@mixin btn-outline($bdc: lime){
    background-color: transparent;
    border: 1px solid $bdc;
    &:hover{
        background-color: rgba(0,0,0,0.15);
    }
    &:focus{
        outline: 3px solid $bdc;
    }
}

.btn-outline-lime{
    @extend .btn;
    @include btn-outline;
}

.btn{
    padding: 0.75rem 2rem;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
}
