


@import url(../css/reset.css);

@import "./general";

@import "./utlilities/buttons";
@import "./utlilities/display";
@import "./utlilities/loading";
@import "./utlilities/modals";
@import "./utlilities/transitions";

@import "./modals/game-options-modal";

@font-face{
    font-family: "Fira-sans";
    src: url("../FiraSans-Heavy.otf");
}

.ttc-grid{
    display: grid;
    position: relative;
    > .row{
        display: grid;
        border-bottom: 3px solid #fff;
        &:last-child{
           border-bottom: none;
        }
      > .ttc-cell{
        user-select: none;
        border-right: 3px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        @extend .large-cell;
        &:last-child{
            border-right: none;
        }
        &:hover{
            background-color: rgba(0,0,0,0.25);
            cursor: pointer;
        }
      }
    }
}

.ttc-grid-container{
    height: 350px;
    max-width: 400px;
    @extend .flex-center;
    position: relative;
}
.small-cell{
    min-width: 65px;
    min-height: 65px;
}
.large-cell{
    width: 75px;
    height: 75px;
}

.boot-options{
    display: flex;
    justify-content: center;
    button{
        @extend .btn;
        @include btn-outline;
        &.btn-restart-game{
            &:focus{
                outline: none;
            }
        }
    }
}

.main-grid{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    .play-area{
        grid-column-start: 2;
    }
    #player-1-area{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    #player-2-area{
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .player-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        text-align: center;
        overflow: hidden;
        .btn-change-name{
            @extend .btn;
            @include btn-outline;

        }
        .player-name{
            font-size: 2.5rem;
            color: wheat;
            max-height: 15rem;
            overflow: hidden;
            display: grid;
            grid-template-rows: 1fr 1fr;
            align-items: center;
            .turn-label{
                font-size: 1rem;
                color: #fff;
            }
        }
        .result{
            font-size: 2rem;
            .result-label{
                color: orange;
                padding: 1rem 2rem;
                border-radius: 50%;
            }
            .announced{
                border: 3px solid #000;
            }
        }
    }
}


.spacer-md{
    margin-top: 3rem;
}
.spacer-sm{
    margin-top: 2rem;
}
.spacer-xs{
    margin-top: 1rem;
}
.d-none{
    display: none;
}
.v-hidden{
    visibility: hidden;
}

.option{
    padding: 1rem 0;
    border-bottom: 1px solid #fff;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
    align-items: start;
    gap: 3rem;
    overflow: hidden;
    &:last-child{
        border-bottom: none;
        padding-bottom: 0;
    }
}



.info-container {
    display: flex;
    .info {
        width: 0;
        flex-grow: 1;
        font-size: 1rem;;
        text-align: center;
        line-height: 1.5;
        .size-info {
            color: orange;
        }
    }
}
.column-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.grid-size {
    // for last radio button label outline
    padding-right: 0.5rem;
}

.difficulty-option {
    @extend .max-height-transition;
    transition-property: all;
}

.column-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    overflow: hidden;
    .name-input-container{
        display: flex;
        justify-content: space-between;
        @extend .max-height-transition;
    }
}

